services:
  db:
    image: pgvector/pgvector:pg17
    # restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: your_secure_password
      POSTGRES_USER: devuser
      POSTGRES_DB: app_dev
    ports:
      - "5433:5432"          
    volumes:
      - pgdata:/var/lib/postgresql/data

  migrator:
    build:
      context: .
      dockerfile: packages/db/Dockerfile
    restart: "no"
    environment:
      DATABASE_URL: postgres://devuser:your_secure_password@db:5432/app_dev
    working_dir: /usr/src/app
    command: ["bun", "packages/db/src/migrate.ts"]
    depends_on:
      db:
        condition: service_started

  web:
    build:
      context: .
      dockerfile: packages/web/Dockerfile
    # restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://devuser:your_secure_password@db:5432/app_dev
      ORIGIN: http://localhost:3000
    depends_on:
      migrator:
        condition: service_completed_successfully
      db:
        condition: service_started

  worker:
    build:
      context: .
      dockerfile: packages/worker/Dockerfile
    # restart: unless-stopped
    environment:
      DATABASE_URL: postgres://devuser:your_secure_password@db:5432/app_dev
    depends_on:
      migrator:
        condition: service_completed_successfully
      db:
        condition: service_started

volumes:
  pgdata: